---
import JCLayout from '~/layouts/JCLayout.astro';
import Header from '~/components/jc/Header.astro';
import Hero from '~/components/jc/Hero.astro';
import Selos from '~/components/jc/Selos.astro';
import Conceito from '~/components/jc/Conceito.astro';
import AntesDepois from '~/components/jc/AntesDepois.astro';
import Localizacao from '~/components/jc/Localizacao.astro';
import Infra from '~/components/jc/Infra.astro';
import Amenidades from '~/components/jc/Amenidades.astro';
import Implantacao from '~/components/jc/Implantacao.astro';
import LotesTeaser from '~/components/jc/LotesTeaser.astro';
import Cronograma from '~/components/jc/Cronograma.astro';
import PorQueInvestir from '~/components/jc/PorQueInvestir.astro';
import Financiamento from '~/components/jc/Financiamento.astro';
import ProvaSocial from '~/components/jc/ProvaSocial.astro';
import FAQ from '~/components/jc/FAQ.astro';
import LeadForm from '~/components/jc/LeadForm.astro';
import CTAFinal from '~/components/jc/CTAFinal.astro';
import Footer from '~/components/jc/Footer.astro';
---

<JCLayout>
  <Header />
  <main id="main">
    <Hero />
    <Selos />
    <Conceito />
    <AntesDepois />
    <Localizacao />
    <Infra />
    <Amenidades />
    <Implantacao />
    <LotesTeaser />
    <Cronograma />
    <PorQueInvestir />
    <Financiamento />
    <ProvaSocial />
    <FAQ />
    <LeadForm />
  </main>
  <Footer />
</JCLayout>
